<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page for internship task</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <section>
        <header class="main-header">
            <nav class="main-header-nav">
                <h2 class="main-header-nav-title">
                    &lt;Bharat Intern/ &gt;
                </h2>
                <ul class="main-header-nav-item-list">
                    <li class="main-header-nav-item"><a href="/home" active>Home</a></li>
                    <li class="main-header-nav-item"><a href="/about">About</a></li>
                    <li class="main-header-nav-item"><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main class="main-main">
            <img src="b19b0a3c-303e-4904-a42e-2d7f4a5d8757.jpeg" alt="">
            <p class="main-content">
               Myself I am Seelan and I am a Mechatronics student but I had more intrested in computer science field expecialy webdevelopment field,So I started learning webdevelopement with my own effort and I had collected resources  from online,now i have a strong foundation of HTML,CSS,Javascript,Nodejs,ExpressJs and Mongodb Now I am a entry level fullstack Webdeveloper.
            </p>
          </main> 
    </section>
</body>
</html>