<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page for internship task</title>
    <link rel="stylesheet" href="contact.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <section>
        <header class="main-header">
            <nav class="main-header-nav">
                <h2 class="main-header-nav-title">
                    &lt;Bharat Intern/ &gt;
                </h2>
                <ul class="main-header-nav-item-list">
                    <li class="main-header-nav-item"><a href="/home" active>Home</a></li>
                    <li class="main-header-nav-item"><a href="/about">About</a></li>
                    <li class="main-header-nav-item"><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main class="main-main">
            <div class="contact-left">
                <p class="contact-text">Contact</p>
                <h2 class="slogan">Contact me every time on.</h2>
            </div>
            <div class="contact-right">
                <h2 class="address">OFFICE</h2>
                <p class="detail-address">
                    3/44,kamaraj street,koodankulam,Radhapuram,Tirunelveli-627106
                </p>
                <h2 class="direct">DIRECT MESSAGE</h2>
                <a href="mailto:seelanpsri455@gmail.com" type="email">seelanpsri455@gmail.com</a>
                <h2 class="follow">
                    FOLLOW ME
                </h2>
                <a href="https://www.linkedin.com/in/seelan-a-778393248/">Linkedin</a>
                <a href="https://github.com/seelanpsri">Github</a>
                <a href="https://www.instagram.com/a.seelan8?igsh=YzVkODRmOTdmMw==">instragram</a>
            </div>
        </main> 
        <div class="bar-nav">
            <a href="https://www.linkedin.com/in/seelan-a-778393248/"><img src="linkedin-icon-logo-png-transparent.png" alt=""></a>
            <a href="https://github.com/seelanpsri"><img src="github.webp" alt=""></a>
            <a href="https://www.instagram.com/a.seelan8?igsh=YzVkODRmOTdmMw=="><img src="instagram-png-instagram-png-logo-1455.webp" alt=""></a>
        </div>
    </section>
</body>
</html>