<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page for internship task</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>
        <header class="main-header">
            <nav class="main-header-nav">
                <h2 class="main-header-nav-title">
                    &lt;Bharat Intern/ &gt;
                </h2>
                <ul class="main-header-nav-item-list">
                    <li class="main-header-nav-item"><a href="/home" active>Home</a></li>
                    <li class="main-header-nav-item"><a href="/about">About</a></li>
                    <li class="main-header-nav-item"><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main class="main-main">
            <h2 class="main-heading">Task 1</h2>
            <p class="main-content">
                This is my first task on Bharat Intern this task is to store user information and to store it using HTML,CSS,Nodejs and MongoDB.
            </p>
            <p class="main-sec-content">To Continue hit the SignIn button...</p>
            <div class="decoration">
                <a href="/sign-up" class="main-signin-btn">Sign Up</a>
            </div>

        </main>
    </section>
</body>
</html>