<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-in page for bharat intern</title>
    <link rel="stylesheet" href="form.css">
</head>
<body>
    <div class="container">
        <form id="form" action="/registration-data" method="POST">
            <h2 class="form-heading">Sign Up</h2>
            <label for="fullname">Full Name</label>
            <input type="text" id="fullname" placeholder="Name..." name="fullname">
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Email address..." name="email">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Username..." name="username">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="*********">
            <label for="confirm">Confirm Password</label>
            <input type="password" id="confirm" name="confirm" placeholder="********">
            <button type="submit" onclick="validate()">Sign Up</button>
        </form>
    </div>
    <script src="form-validation.js"></script>
</body>
</html>