@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Luckiest+Guy&family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Luckiest+Guy&family=Merienda:wght@700&family=Rowdies&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section {
    height: 100vh;
    width: 100%;
    background-image: url(R.jpeg);
    background-size: cover;
    background-position: center;
}

.main-header {
    height: 70px;
    width: 100%;
}

a:-webkit-any-link {
    color: white;
    list-style: none;
    text-decoration: none;
}

.main-header-nav-item-list .main-header-nav-item a {
    color: black;
}

.main-header-nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header-nav-title {
    font-size: 24px;
    font-family: Bangers;
    color: brown;
    margin-left: 100px;
    letter-spacing: 1px;
}

.main-header-nav-item-list {
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    margin-right: 100px;
    font-family: "Merienda", serif;
    font-weight: bolder;
    font-size: 20px;
    color: aqua;
}

.main-main {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.main-heading {
    font-family: Rowdies;
    font-size: 30px;
    color: #163a41;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

.main-content {
    font-family: Rowdies;
    font-size: 26px;
    width: 60%;
    color: rgb(28, 35, 36);
    text-shadow: 0 0 5px white;
    animation: animate 1s ease-out;
}

img {
    margin-bottom: 20px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    filter: drop-shadow(0 0 20px white);
    animation: animate 1s ease;
}

@keyframes animate {
    0% {
        transform: translatey(20px);
        opacity: 0;
    }
    100% {
        transform: translatey(0px);
        opacity: 1;
    }
}